<!doctype html>
<html lang="en" ng-app="gradlePrismApp">
<head>
    <meta charset="utf-8">
    <title>My AngularJS App</title>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-resource.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <!--<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">-->
    <!--<link rel="stylesheet" href="css/bootstrap.min.css"/>-->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/flat-ui.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">

</head>
<body>

<div class="container">

    <!--<svg class="chart" width="420" height="120">-->
        <!--<g transform="translate(0,0)">-->
            <!--<rect width="40" height="19"></rect>-->
            <!--<text x="37" y="9.5" dy=".35em">4</text>-->
        <!--</g>-->
        <!--<g transform="translate(0,20)">-->
            <!--<rect width="80" height="19"></rect>-->
            <!--<text x="77" y="9.5" dy=".35em">8</text>-->
        <!--</g>-->
        <!--<g transform="translate(0,40)">-->
            <!--<rect width="150" height="19"></rect>-->
            <!--<text x="147" y="9.5" dy=".35em">15</text>-->
        <!--</g>-->
        <!--<g transform="translate(0,60)">-->
            <!--<rect width="160" height="19"></rect>-->
            <!--<text x="157" y="9.5" dy=".35em">16</text>-->
        <!--</g>-->
        <!--<g transform="translate(0,80)">-->
            <!--<rect width="230" height="19"></rect>-->
            <!--<text x="227" y="9.5" dy=".35em">23</text>-->
        <!--</g>-->
        <!--<g transform="translate(0,100)">-->
            <!--<rect width="420" height="19"></rect>-->
            <!--<text x="417" y="9.5" dy=".35em">42</text>-->
        <!--</g>-->
    <!--</svg>-->

    <div class = "query-container" ng-controller="QueryContainerCtrl" ng-init="init()">

        <form ng-submit="addQuery()">
            <input type="text" ng-model="mongoQuery"
                   placeholder="add query here" class="form-control flat"/>

            <input class="btn btn-mini" type="submit" value="add">
        </form>

        <div draggable="true" class="query" ng-repeat="query in queries" ng-controller="QueryCtrl" ng-init="init(query)" >

            <div class="switch-container" ng-switch on="editMode">

                <div ng-switch-when="false" class="query-header">
                    <h4>{{query.name}}</h4>
                    <span ng-click="toggleEditMode()" class="glyphicon glyphicon-cog"></span>
                </div>

                <div ng-switch-when="true" class="query-edit">

                    <form ng-submit="saveQuery()">

                        <input type="text" ng-model="query.name" class="form-control flat"/>

                        <input type="text" ng-model="query.mongoQuery" class="form-control flat"/>

                        <button ng-click="toggleEditMode()" class="btn btn-warning btn-lg">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>

                    </form>

                    <button type="submit" ng-click="toggleEditMode()" class="btn btn-default btn-lg">
                        <span class="glyphicon glyphicon-floppy-save"></span>
                    </button>

                    <button ng-click="removeQuery(query)" class="btn btn-danger btn-lg">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </div>
            </div>

            <!--<ul class="graphs">-->

                    <!--<li class="graph" ng-repeat="graph in graphs" ng-controller="GraphCtrl" ng-init="init(graph)">-->
                    <!--<div class="graph-header">-->
                        <!--<small><b>{{graph.type}}, {{graph.name}}</b></small>-->
                    <!--</div>-->
                <!--</li>-->
            <!--</ul>-->


            <ul class="invocations">

                <li class="invocation" ng-repeat="invocation in invocations" ng-controller="InvocationCtrl" ng-init="init(invocation)">
                    <div class="invocation-header">
                        <small><b>{{time()}}, {{invocation.user.name}}</b></small>
                    </div>
                    <ul class="projects">
                        <li class="project" ng-repeat="project in invocation.projects">
                            <small class="bubble projectname"><b>{{project.name}}</b></small>
                            <small class="bubble task-success-{{task.success}}" ng-repeat="task in project.tasks" ng-controller="TaskCtrl" ng-init="init(task)">{{task.name}} </small>
                        </li>
                    </ul>

                </li>
            </ul>

        </div>
    </div>
</div>


<script src="js/app.js"></script>
<script src="js/services.js"></script>
<script src="js/controllers.js"></script>
<script src="js/filters.js"></script>
<script src="js/directives.js"></script>
</body>
</html>